{
  "log-driver": "json-file",
  "log-opts": {
    "mode": "non-blocking",
    "max-size": "50m",
    "max-file": "3"
  }{% if docker_ipv6 %},
  "ipv6": {{ docker_ipv6|bool|to_json }},
  "userland-proxy": {{ (not docker_ipv6_nat)|bool|to_json }},
  "fixed-cidr-v6": "{{ docker_ipv6_subnet|default('fd00::/80') }}"
{% endif %}
}